@import '../../assets/Styles/mixins';
@import '../../assets/Styles/variables/colors';

.rating-wrapper {
  @include flex-center;
  margin-bottom: 0.5em;
}


.svg-inline--fa.filled-icon, .svg-inline--fa.empty-icon {
  color: $primary-color;
  font-size: 2em;
}
