@import '../../assets/Styles/variables/colors';

.collapsible-container {
  margin: 1em 4em;
}


.collapsible-wrapper {
  cursor: pointer;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 0 1em;

  p {
    margin: 0.3em !important;
    color: white;
  }
}

.collapsible-content {
  opacity: 0;
  background-color: $secondary-color;
  padding: 1em;
  transition: opacity 0.2s ease-in-out;

  ul {
    padding-inline: 0 !important;
  }
}

.collapsible-content.slowdown {
  opacity: 1;
}

.collapsible-arrow {
  color: white;
  width: 5%;
  transition: 0.2s ease-in-out;
}

.collapsible-arrow.open {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .collapsible-container {
    margin: 1em 0;
  }
}
