@import '../../assets/Styles/variables/colors';
@import '../../assets/Styles/mixins';

.logo {
  width: 80%;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3% auto;
}

.navbar-list {
  @include flex-center;
  gap: 40px;

  a {
    @include border-transition
  }

  a:hover {
    border-bottom: solid 3px $primary-color;
  }
}


@media (max-width: 600px) {
  .logo {
    width: 80%;
  }

  .navbar-wrapper a:first-of-type {
    width: 40%;
  }

  .navbar-list {
    gap: 20px;
  }
}
