li, h1, h2, h3, h4, p, a {
  color: $primary-color;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

footer {
  width: 100%;
  margin-top: 1.5em;
  height: 200px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    color: white;
  }
}

.container {
  margin: 0 7%;
}

@media (max-width: 600px) {
  .container {
    margin: 0 4%;
  }
}
