@import '../Styles/mixins';

li, h1, h2, h3, h4, p, a {
  color: $primary-color;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

footer {
  flex-grow: 0;
  width: 100%;
  margin-top: 1.5em;
  padding: 2.5rem 0;
  background-color: black;
  @include flex-center;
  flex-direction: column;

  p {
    color: white;
  }
}

.container {
  position: relative;
  padding-bottom: 2.5rem;
  min-height: 100vh;
  margin: 0 7%;
}

@media (max-width: 600px) {
  .container {
    margin: 0 4%;
  }
}
