@import '../../assets/Styles/mixins';

.banner {
  width: 100%;
  height: 22vh;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  @include flex-center;
}

.banner-title {
  color: white;
  font-weight: 500;
}

.banner.about-mobile {
  height: 30vh;
}


@media screen and (max-width: 768px) {
  .banner {
    height: 13vh;
    justify-content: flex-start;
  }

  .banner-title {
    margin-left: 1em;
    font-size: 1.5em;
  }
}
